*{
    margin: 0;
    padding: 0;
}

.navmain{
    background-image: url(assets/images/bg.jpg);
    height: 80vh;
}

.box{
    background-color: black;
    height: 80vh;
    opacity: .5;
}
nav{
    background-color: brown;
    height: 10vh;
}